.ck-doubleTree{
    .ant-transfer-list{
        width: 240px;
        height: 500px;
    }
    .ant-tree-checkbox.ant-tree-checkbox-disabled{
        visibility: hidden;
    }
    .ant-transfer-list-body{
     ul{
      li{
        padding: 0px;
      }
     }
    }

}